
* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
}

body {
  background-image: url("./images/back.png");
  background-size: cover;
  background-position: center center;
}

#wave-h #skew {
  transform: skewX(20deg);
}

#wave-m #skew {
  transform: skewX(-20deg);
}

#waves {
  height: 3vh;
}

#fighters {
  height: 70vh;
}

#hero , #monster {
  height: 50%;
}

#hero-a {
  transform: scaleX(-1);
}

#monster-a {
  transform: scaleX(1);
}

@media screen and (min-width: 768px) {
  #hero , #monster {
    height: 100%;
  }

  #hero-a {
    transform: scaleX(1);
  }

  #monster-a {
    transform: scaleX(-1);
  }
  
}