* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px black;
}

body {
  background-image: url("./images/back.png");
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}

#rounds , #rounds span {
  -webkit-text-stroke: 3px black;
}

.smooth-bar {
  transition: all 180ms ease-in-out;
}

#wave-h #skew {
  transform: skewX(20deg);
}

#wave-m #skew {
  transform: skewX(-20deg);
}

#waves {
  height: 3vh;
  transform: scaleX(-1);
}

#fighters {
  height: 65vh;
}

#hero,
#monster {
  height: 50%;
}

#hero #avatar {
  animation: avatar 1.5s infinite ease;
  animation: attack 2s ease;
}

#monster #avatar {
  animation: avatar 1.5s infinite 1s ease;
  animation: hit 4s forwards 0.5s ease;
}

@keyframes avatar {

  0% {
    transform: scaleX(1) translateY(0);
  }
  50% {
    transform: scaleX(1) translateY(1em);
  }
  100% {
    transform: scaleX(1) translateY(0);
  }
}






@keyframes attack {
  0% {
    transform: scaleX(1)  translateX(0) rotateZ(0);
  }

  50% {
    transform: scaleX(1)  translateX(-3em) translateY(-5em) rotateZ(-20deg);
  }

  100% {
    transform: scaleX(1)  translateX(0) rotateZ(0);
  }
}

@keyframes hit {
  0% {
    transform: scaleX(1)  translateX(0) rotateZ(0);
  }

  80% {
    transform: scaleX(1) translateX(-2em) rotateZ(-720deg);
  }

  100% {
    transform: scaleX(1) translateX(0) rotateZ(-720deg);
  }
}



@media screen and (min-width: 768px) {
  #hero,
  #monster {
    height: 100%;
  }

  #waves {
    transform: scaleX(1);
  }

  #hero #avatar {
    transform: scaleX(-1);
  }

  #monster #avatar {
    transform: scaleX(-1);
  }

  @keyframes avatar {

    0% {
      transform: scaleX(-1) translateY(0);
    }
    50% {
      transform: scaleX(-1) translateY(1em);
    }
    100% {
      transform: scaleX(-1) translateY(0);
    }
  }

  @keyframes attack {
    0% {
      transform: scaleX(-1)  translateX(0) rotateZ(0);
    }
  
    50% {
      transform: scaleX(-1)  translateX(-25em) rotateZ(-20deg);
    }
  
    100% {
      transform: scaleX(-1)  translateX(0) rotateZ(0);
    }
  }

  @keyframes hit {
    0% {
      transform: scaleX(-1)  translateX(0) rotateZ(0);
    }
  
    80% {
      transform: scaleX(-1) translateX(-15em) rotateZ(720deg);
    }

    100% {
      transform: scaleX(-1) translateX(0) rotateZ(720deg);
    }
  }
}
