:root {
  --big-font: "Shojumaru", cursive;
  --small-font: "Bubblegum Sans", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--small-font);
}

#fight {
  height: 10%;
  font-family: var(--big-font);
}

#rounds {
  height: 5vh;
}

#fighters {
  height: 70vh;
}

#hero , #monster {
  height: 50%;
}

#buy {
  height: 10vh;
}

#status {
  height: 20%;
}

@media screen and (min-width: 768px) {
  #hero , #monster {
    height: 100%;
  }
}